<div class="page-container">
  <div class="row search-row">
    <form method="POST" class="search">
      <div class="input-group input-group-lg">
        <input type="text" id="searchbar" class="form-control" name="search" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form>
  </div>

<div class="row background-thing">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Playlist</h4>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" name="title" class="form-control" id="title">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="submitPlaylist" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
<!--
$('#mymodal').modal('toggle') -->





  	{{#if soundcloud}}
  <div class="col-lg-2 col-md-2 col-sm-2">
    <img id="soundcloud" class="img-responsive logo-image" src="../images/soundcloud.png" />
  </div>
	{{/if}}

<script>
$('#soundcloud').on('click', function(e) {
  e.preventDefault()
  window.location = '/soundcloud?search={{query}}'
})
</script>


<div class="col-lg-10 col-md-10 col-sm-10">
	{{#each soundcloud}}
    <div class="soundcloud-row">
      <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{this.id}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;sharing=true&amp;liking=true&amp;show_reposts=false&amp;
      visual=true" style="display: block; float: left"></iframe>
    </div>
	{{/each}}
</div>
</div>

<div class="row background-thing">
	{{#if youtube}}
    <div class="col-lg-2 col-md-2 col-sm-2">
      <img id="youtube" class="img-responsive logo-image" src="../images/youtube.png" />
    </div>
	{{/if}}

<div class="col-lg-10 col-md-10 col-sm-10">
  {{#each youtube}}
    <div class="youtube-row">
      <iframe id="ytplayer" type="text/html" width="100%" height="100" src="https://www.youtube.com/embed/{{this.id.videoId}}?autoplay=0&origin=http://example.com"
      frameborder="0"></iframe>
      <form action='/download'>

      	<input style="background-color:grey; border:none; width: 100%; height: 30px; opacity: 0.9"class="btn btn-primary" type='submit' value="Download">
      	<!-- <button type="button" class="submit-button btn btn-primary">Download</button> -->
      	<input type="hidden" class="youtubeIdHolder" name='v' value="{{this.id.videoId}}">
      </form>

      <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add To Playlist
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          {{#if playlists}}
          {{#each playlists}}
          <li><button random='{{this._id}}'</li>
            {{/each}}
            {{/if}}
          <li><button type="button" data-toggle="modal" data-target="#myModal" class="addPlaylist" random="{{this.id.videoId}}">Create New Playlist..</button></li>
        </ul>
      </div>
    </div>
  {{/each}}
  </div>
</div>

<script>
$('.addPlaylist').on('click', function(e) {
  $('#submitPlaylist').attr('random', $(e.target).attr('random'))
})
$('#submitPlaylist').on('click', function(e) {
  e.preventDefault()

  $.ajax({
    method: "POST",
    url: "/addPlaylist",
    data: {
      type: "youtube",
      title: $('#title').val(),
      id: $(e.target).attr('random')
    },
    success: function(ev) {
      $('#myModal').modal('toggle')
    }
  })
})
</script>

<script>
$('#youtube').on('click', function(e) {
  e.preventDefault()
  window.location = '/youtube?search={{query}}'
})
</script>

<!-- <script>
$('#submitPlaylist').on('click', function(e) {
  e.preventDefault()

  $.ajax({
    method: "POST",
    url: "/addPlaylist",
    data: {
      type: "youtube",
      song: "{{this.id.videoId}}",
      title: $('#title').val()
    },
    success: function(ev) {
    }
    }
  })
})


</script> -->

<div class="row background-thing">
	{{#if spotify}}
    <div class="col-lg-2 col-md-2 col-sm-2">
	       <img id="spotify" class="img-responsive logo-image" src="../images/spotify_logo1.png" />
    </div>
	{{/if}}

<div class="col-lg-10 col-md-10 col-sm-10">
  {{#each spotify}}
  <div class="spotify-row">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:{{this.id}}?sharing=true" width="100%" height="100" frameborder="0" allowtransparency="true"></iframe>
</div>
  {{/each}}
</div>
</div>


<script>
$('#spotify').on('click', function(e) {
  e.preventDefault()
  window.location = '/spotify?search={{query}}'
})
</script>
